.icon-map {
    padding:1px;
    color: var(--mantine-color-black);
    background-color: var(--mantine-color-gray-0);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: var(--mantine-spacing-sm);
  }
  .title {
    display: flex;
    align-items: center;
    padding: var(--mantine-spacing-md);
    color: var(--mantine-color-gray-0);
    font-size: rem(25px);
  }
.title:hover{
  cursor: pointer;
  
}