.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 5%;
    text-align: center;
}

.autocomplete {
    display: inline-block;
}

.input {
    padding: 1rem 1.2rem;
    width: 15rem;
    border: 2px solid;
    outline: none;
    line-height: 1;
}

.list-box {
    position: absolute;
    margin: 0;
    padding: 0;
    max-height: 60%;
    border-top: none;
    list-style-type: none;
    text-align: left;
    overflow-y: none;
}

.list-item {
    padding: 1rem 1.2rem;
    width: 15rem;
    cursor: pointer;
    background-color: white;
    border-left: 2px solid;
    border-right: 2px solid;
}

.list-item:last-child {
    border-bottom: 2px solid;
}

.list-item:hover {
    color: #fff;
    background: #000;
    border-color: black;
}
