.componentContainer{
    width: 100%;
    background-color: gray;
}

.formComponent{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: lightblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.formComponent > input{
    width: 45%;
    align-self: center;
}

.formComponent > button{
    width: fit-content;
    align-self: center;
}
